# general oci parameters

api_fingerprint = 
api_private_key_path = 

home_region = 
region = "ap-mumbai-1"
tenancy_id = 
user_id = 


compartment_id = 

#======================== app vm parameters (jump server) ==================================

# The current configuration of this VM is:
# OS - Oracle Linux
# Linux Version 8
# image_id is set to the Region Sepcific OCID of the image
# you can find the list of images and the region specific OCID here: https://docs.oracle.com/en-us/iaas/images/oracle-linux-8x/oracle-linux-8-10-aarch64-2025-03-18-0.htm
# This ensures that the smae image us used very time when you run Terraform apply job


app_vm1_instance_count   = "1"
app_vm1_shape            = "VM.Standard.E4.Flex"
app_vm1_memory_in_gbs    = "8"
app_vm1_ocpus            = "1"
app_vm1_boot_volume_size = "50"

instance_display_name = "jump-server-2"
ssh_public_key = "ssh-rsa "
ssh_private_key = <<EOF
-----BEGIN RSA PRIVATE KEY-----
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
-----END RSA PRIVATE KEY-----
EOF




# General Configuration

vcn1_vcn_display_name = "vcn1_VCN"
vcn1_vcn_dns_label = "vcn1vcn"
vcn1_vcn_cidr_block = ["10.0.0.0/16"]

# Subnet Configurations
public_subnet_cidr_block = "10.0.1.0/24"
public_subnet_display_name = "PublicSubnet"
#public_subnet_dns_label = "publicsubnet"

db_subnet_cidr_block = "10.0.2.0/24"
db_subnet_display_name = "DBSubnet"
#db_subnet_dns_label = "dbsubnet"

# Security List Configurations
public_ingress_rules = [
  { protocol = "6", source = "0.0.0.0/0", min = 22, max = 22 },   # SSH
  { protocol = "6", source = "0.0.0.0/0", min = 80, max = 80 },   # HTTP
  { protocol = "6", source = "0.0.0.0/0", min = 443, max = 443 }  # HTTPS
]

#public_egress_rules = ["0.0.0.0/0"] # Allow all outbound traffic

db_ingress_rules = [
  { protocol = "6", source = "10.0.1.0/24", min = 22, max = 22 },   # SSH from Public Subnet
  { protocol = "6", source = "10.0.1.0/24", min = 3389, max = 3389 }, # RDP from Public Subnet
  { protocol = "6", source = "10.0.1.0/24", min = 5432, max = 5432 }, # PostgreSQL
  { protocol = "6", source = "10.0.1.0/24", min = 6379, max = 6379 }, # Redis
  { protocol = "1", source = "0.0.0.0/0", icmp_type = 3, icmp_code = 4 } # ICMP Ping
]

#db_egress_rules = ["0.0.0.0/0"] # Allow all outbound traffic

public_egress_rules = [
  {
    protocol    = "all"
    destination = "0.0.0.0/0"
  }
]

db_egress_rules = [
  {
    protocol    = "all"
    destination = "0.0.0.0/0"
  }
]


##############################################################################################
#------------------------------Redis---------------------#
###############################################################################################

#db_subnet_id = ""
nsg_ids = []
redis_cluster_display_name = "redis_navi"
redis_cluster_node_count = 3
redis_cluster_node_memory_in_gbs = 16
redis_cluster_mode = "NONSHARDED"
#redis_shard_count = 0 .                  #only applicable to cluster with cluster mode of SHARDED
redis_cluster_software_version = "REDIS_7_0"





######################### ALARMS #######################################


#alarm_namespace for OCI Cache with redis is oci_redis
#resourceId is the OCID of the resource that was scanned

# Refer this for other Cache Metrics: https://docs.oracle.com/en-us/iaas/Content/ocicache/metrics.htm



alarm_namespace = "oci_redis"
destinations =["<OCID of Notification Topic"]

alarm_pending_duration = "PT1M"
alarm_message_format = "ONS_OPTIMIZED"

cpu_utilization_alarm_threshold = 60
memory_usage_alarm_threshold = 85
network_bandwidth_in_allowance_exceeded_alarm_threshold = 10000000          #10MB/s
network_bandwidth_out_allowance_exceeded_alarm_threshold = 10000000         #10MB/s
network_connections_tracked_allowance_exceeded_alarm_threshold = 1000


